[Unit]
Description=PipeWire PulseAudio
After=pipewire.service
PartOf=pipewire.service

[Service]
ExecStart=/usr/bin/pipewire-pulse
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
